<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{}} </title>
        {% else %}
        <title> Home - welcom to the best news highlight website Online </title>
        {% endif %}
    </head>
    <body>
      <!--Latest news highlights section -->
      <h3>Latest news highlight</h3>
      <ul>
        {% for latest news highlights %}
          <li>{{latest news_highlight.title}}</li>
        {%endfor%}  
      </ul>

    </body>
</html>
